@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

@keyframes rgbGlow {
    0% {
        box-shadow: 0 0 5px rgb(223, 0, 0), 0 0 10px rgb(223, 0, 0), 0 0 15px rgb(223, 0, 0);
    }

    33% {
        box-shadow: 0 0 5px rgb(0, 223, 0), 0 0 10px rgb(0, 223, 0), 0 0 15px rgb(0, 223, 0);
    }

    66% {
        box-shadow: 0 0 5px rgb(0, 0, 223), 0 0 10px rgb(0, 0, 223), 0 0 15px rgb(0, 0, 223);
    }

    100% {
        box-shadow: 0 0 5px rgb(223, 0, 0), 0 0 10px rgb(223, 0, 0), 0 0 15px rgb(223, 0, 0);
    }
}

body {
    background-image: repeating-linear-gradient(0deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px, transparent 1px, transparent 21px),
        repeating-linear-gradient(90deg, rgb(41, 41, 41) 0px, rgb(41, 41, 41) 1px, transparent 1px, transparent 21px),
        linear-gradient(90deg, hsl(87, 0%, 9%), hsl(87, 0%, 9%));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header {
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 1px 1px rgba(255, 0, 0, 0.349);
    border: 2px solid #ffffff;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px 0;
}

.navbar ul li {
    padding: 0px 10px;
    position: relative;
}

a {
    font-family: "Farro", sans-serif;
    text-decoration: none;
    color: black;
}

ul a:hover {
    border-radius: 2px;
    color: rgb(255, 255, 255);
    border: 1px solid #EBECF1;
    background-color: orangered;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.349);
}


main {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(10, 16, 46) 0%, rgb(43, 28, 109) 45%, rgb(201, 204, 170) 100%);
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.9);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
}

.myself {
    display: flex;
    font-size: large;
    justify-content: center;
    color: rgb(255, 255, 255);
}


.profile-img {
    width: 21px;
    height: 21px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    transition: transform 0.3s;
}

.avatar-preview {
    position: absolute;
    top: 70px;
    right: 0;
    display: none;
}

.avatar-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 4px rgba(114, 101, 101, 0.5);
}

.profile-img:hover+.avatar-preview {
    display: flex;
}

.vmove {
    text-align: center;
    justify-content: center;
    display: inline;
    overflow: hidden;
    position: relative;
    max-width: 500px;
    margin: auto;
}

.vwrap,
.vslide {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: #d2f700;
    height: 140px;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

#sideimg {
    width: 300px;
    max-width: auto;
    height: auto;
    box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    border-radius: 4px;
    justify-content: end;
    align-items: center;
    transition: transform 0.2s, filter 0.2s;
}

.hw {
    margin: 10;
    display: flex;
    flex-direction: column;

}

#instabutton,
#youbutton,
#twitterbutton,
#facebutton,
#linkidinbutton,
#githubbutton {
    width: 40px;
    height: auto;
    transition: transform 0.2s;
}

#instabutton:hover {
    transform: scale(1.1);
}

#youbutton :hover {
    transform: scale(1.1);
}

#twitterbutton :hover {
    transform: scale(1.1);
}

#facebutton :hover {
    transform: scale(1.1);
}

#linkidinbutton :hover {
    transform: scale(1.1);
}

#githubbutton :hover {
    transform: scale(1.1);
}

button {
    background: none;
    /* Remove default button background */
    border: none;
    /* Remove default button border */
    padding: 5px;
    /* Remove default button padding */
    margin: 0;
    /* Remove default button margin */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

@keyframes slidev {
    0% {
        bottom: 0;
    }

    24% {
        bottom: 0;
    }

    25% {
        bottom: 100%;
    }

    49% {
        bottom: 100%;
    }

    50% {
        bottom: 200%;
    }

    74% {
        bottom: 200%;
    }

    75% {
        bottom: 300%;
    }

    99% {
        bottom: 300%;
    }

    100% {
        bottom: 0;
    }
}

.vmoveside {
    animation: slidev 7s infinite;
}

.vmove {
    animation: slidev 7s infinite;
}

.vmove:hover {
    animation-play-state: paused;
}

.navbar:before {
    display: flex;
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: 104%;
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.navbar:hover:before {
    opacity: 1;
}

.navbar:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* projects */
.projecthead {
    color: aliceblue;
    margin-top: 20px;

}

.section {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(238, 255, 0) 0%, rgb(184, 170, 46) 45%, rgb(201, 204, 170) 100%);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.9);
}

.projectcontainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #111;
    margin: 15px;
    width: 100%;
    max-width: 1150px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.projectimgtitle {
    align-items: center;
    justify-content: start;
    display: flex;
}

.imagelogo {
    width: 20px;
    height: auto;
    border-radius: 50%;
}

.projtitle {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1cap;
    padding-left: 10px;
    color: white;
}

.projdesc {
    padding-top: 10px;
    font-size: 13px;
    color: wheat;
}

.projtech {
    padding-top: 10px;
    font-size: 12px;
    color: wheat;
}

.projtech>b {
    color: black;
    background-color: #ffffff;
}

.projpublish {
    padding-top: 10px;
    font-size: 12px;
    color: wheat;
}

.projpublish>b {
    color: black;
    background-color: #ffffff;
}

.otherprojectcontainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #111;
    margin: 15px;
    width: 100%;
    max-width: 1150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.otherprojtitle {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1cap;
    font-size: 15px;
    color: white;
}

/* Skill */

.sectionskill {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(238, 255, 0) 0%, rgb(184, 170, 46) 45%, rgb(201, 204, 170) 100%);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.9);
}

.skillcontainer {
    display: flex;
    flex-direction: column;
    background-color: #111;
    width: auto;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px wheat solid;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.9);
}

.skillcontainer>h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

.skillcontainer>h4>ul>li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    list-style: none;
    color: #ffffff;
}

.currentlearningcont {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    width: auto;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.9);
}

.currentlearningcont>h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.currentlearningcont>h4>ul>li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    list-style: none;
    color: #000000;
}



/* down scroll */

.footercontainer {
    background: rgb(2, 0, 36);
    background: wheat;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    max-width: 1200px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.9);
}

#scroll-text {
    color: rgb(255, 255, 255);
    font-size: 12px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.emailcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.emailcontainer>img {
    width: 20px;
    height: auto;
    padding-right: 10px;
}

.emailcontainer>h4 {
    font-family: 'Courier New', Courier, monospace;
}

.contactcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contactcontainer>img {
    width: 20px;
    height: auto;
    padding-right: 10px;
}

.contactcontainer>h4 {
    font-family: 'Courier New', Courier, monospace;
}

/* media query starts */

@media only screen and (max-width:768px) {

    a {
        font-size: 09px;
    }

    .profile-img {
        width: 21px;
        height: 21px;
    }

    .container {
        background: linear-gradient(180deg, rgb(10, 16, 46) 0%, rgb(43, 28, 109) 45%, rgb(201, 204, 170) 100%);
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;

    }

    h2 {
        font-size: 10px;
    }

    h5 {
        font-size: 10px;
        justify-content: center;
        margin-top: 20px;
    }

    .myself {
        display: flex;
        font-size: medium;
        justify-content: center;
        color: rgb(255, 255, 255);
    }

    .avatar-img {
        width: 100px;
        height: 100px;
    }

    .vwrap,
    .vslide {
        font-weight: 900;
        height: 140px;
        font-size: 13px;
    }

    #sideimg {
        width: 70%;
        max-width: 400px;
        height: auto;
    }

    .hw {
        margin-top: 20px;
        flex-direction: row;

    }

    #instabutton,
    #youbutton,
    #twitterbutton,
    #facebutton,
    #linkidinbutton,
    #githubbutton {
        width: 20px;
        margin-right: 10px;

    }
    .projecthead{font-size: 12px;}
    .section {
        justify-content: center;
        align-items: center;
    }

    .projectcontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 260px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
    }

    .projectimgtitle {
        display: flex;
        flex-direction: column;
    }

    .imagelogo {
        width: 15px;
    }   

    .projdesc {
        padding-top: 10px;
        font-size: 07px;
        color: wheat;
    }

    .projtech {
        padding-top: 10px;
        font-size: 06px;
        color: wheat;
    }

    .projtech>b {
        color: black;
        background-color: #ffffff;
    }

    .projpublish {
        padding-top: 10px;
        font-size: 06px;
        color: wheat;
    }

    .projpublish>b {
        color: black;
        background-color: #ffffff;
    }

    .otherprojectcontainer {
        align-items: center;
        width: 100%;
        max-width: 260px;
        border-radius: 10px;
    }
    .otherprojtitle {
        font-size: 12px;
    }


    /* Skill */

    .sectionskill {
        flex-direction: column;
    }

    .skillcontainer {
        display: flex;
        flex-direction: row;
     
    }

    .skillcontainer>h4 {
        font-size: 10px;
    }

    .skillcontainer>h4>ul>li {
        font-size: 10px;
    }

    .currentlearningcont {
        flex-direction: row;
    }

    .currentlearningcont>h4 {
        font-size: 10px;
    }

    .currentlearningcont>h4>ul>li {
        font-size: 10px;
         }


    /* down scroll */

    .footercontainer {
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #scroll-text {
       
        font-size: 10px;

    }

    .emailcontainer {
        flex-direction: row;
    }

    .emailcontainer>img {
        width: 15px;
    }

    .emailcontainer>h4 {
        font-size: 10px;
    }

    .contactcontainer {
        flex-direction: row;
    }

    .contactcontainer>img {
        width: 15px;    
    }

    .contactcontainer>h4 {
        font-size: 10px;
    }
     .doubleskillcontainer{
        display: flex;
        justify-content: center;
        flex-direction: row;
     }
}


@media only screen and(max-width:425px) {

    .navbar ul {
        justify-content: center;
        list-style: none;

    }

    .profile-img {
        width: 20px;
        height: 20px;
    }

    .container {
        background: linear-gradient(180deg, rgb(10, 16, 46) 0%, rgb(43, 28, 109) 45%, rgb(201, 204, 170) 100%);
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;

    }

    h2 {
        font-size: 10px;
    }

    h5 {
        font-size: 10px;
        justify-content: center;
        margin-top: 20px;
    }

    .myself {
        display: flex;
        font-size: medium;
        justify-content: center;
        color: rgb(255, 255, 255);
    }

    .avatar-img {

        width: 100px;
        height: 100px;

    }

    .vwrap,
    .vslide {
        font-weight: 900;
        height: 150px;
        font-size: 13px;
    }

    #sideimg {
        width: 700%;
        max-width: 400px;
        height: auto;
    }

    .hw {
        margin-top: 20px;
        flex-direction: row;

    }

    #instabutton,
    #youbutton,
    #twitterbutton,
    #facebutton,
    #linkidinbutton,
    #githubbutton {
        width: 20px;
        margin-right: 10px;

    }


    .projecthead{font-size: 12px;}
    .section {
        justify-content: center;
        align-items: center;
    }

    .projectcontainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 260px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
    }

    .projectimgtitle {
        display: flex;
        flex-direction: column;
    }

    .imagelogo {
        width: 15px;
    }   

    .projdesc {
        padding-top: 10px;
        font-size: 07px;
        color: wheat;
    }

    .projtech {
        padding-top: 10px;
        font-size: 06px;
        color: wheat;
    }

    .projtech>b {
        color: black;
        background-color: #ffffff;
    }

    .projpublish {
        padding-top: 10px;
        font-size: 06px;
        color: wheat;
    }

    .projpublish>b {
        color: black;
        background-color: #ffffff;
    }

    .otherprojectcontainer {
        align-items: center;
        width: 100%;
        max-width: 260px;
        border-radius: 10px;
    }
    .otherprojtitle {
        font-size: 12px;
    }


    /* Skill */

    .sectionskill {
        flex-direction: column;
    }

    .skillcontainer {
        display: flex;
        flex-direction: row;
     
    }

    .skillcontainer>h4 {
        font-size: 10px;
    }

    .skillcontainer>h4>ul>li {
        font-size: 10px;
    }

    .currentlearningcont {
        flex-direction: row;
    }

    .currentlearningcont>h4 {
        font-size: 10px;
    }

    .currentlearningcont>h4>ul>li {
        font-size: 10px;
         }


    /* down scroll */

    .footercontainer {
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #scroll-text {
       
        font-size: 10px;

    }

    .emailcontainer {
        flex-direction: row;
    }

    .emailcontainer>img {
        width: 15px;
    }

    .emailcontainer>h4 {
        font-size: 10px;
    }

    .contactcontainer {
        flex-direction: row;
    }

    .contactcontainer>img {
        width: 15px;    
    }

    .contactcontainer>h4 {
        font-size: 10px;
    }
     .doubleskillcontainer{
        display: flex;
        justify-content: center;
        flex-direction: row;
     }

}
