

/* media query starts */

@media only screen and (max-width:768px){

    .navbar ul {
        justify-content: center;
        list-style: none;

    }

    .navbar ul li {
        padding: 4px 10px;
        position: relative;
    }

    a {
        font-size: 09px;
    }

    .profile-img {
        width: 21px;
        height: 21px;
    }

    .container {
        background: linear-gradient(180deg, rgb(10, 16, 46) 0%, rgb(43, 28, 109) 45%, rgb(201, 204, 170) 100%);
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;

    }

    h2 {
        font-size: 10px;
    }

    h5 {
        font-size: 10px;
        justify-content: center;
        margin-top: 20px;
    }

    .myself {
        display: flex;
        font-size: medium;
        justify-content: center;
        color: rgb(255, 255, 255);
    }

    .avatar-img {

        width: 100px;
        height: 100px;

    }

    .vwrap,
    .vslide {
        font-weight: 900;
        height: 140px;
        font-size: 10px;
    }

    #sideimg {
        width: 70%;
        max-width: 400px;
        height: auto;
    }

    .hw {
        margin-top: 20px;
        flex-direction: row;

    }

    #instabutton,
    #youbutton,
    #twitterbutton,
    #facebutton,
    #linkidinbutton,
    #githubbutton {
        width: 20px;
        margin-right: 10px;

    }

}


@media only screen and(max-width:425px){

    .navbar ul {
        justify-content: center;
        list-style: none;

    }

    .profile-img {
        width: 20px;
        height: 20px;
    }

    .container {
        background: linear-gradient(180deg, rgb(10, 16, 46) 0%, rgb(43, 28, 109) 45%, rgb(201, 204, 170) 100%);
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;

    }

    h2 {
        font-size: 10px;
    }

    h5 {
        font-size: 10px;
        justify-content: center;
        margin-top: 20px;
    }

    .myself {
        display: flex;
        font-size: medium;
        justify-content: center;
        color: rgb(255, 255, 255);
    }

    .avatar-img {

        width: 100px;
        height: 100px;

    }

    .vwrap,
    .vslide {
        font-weight: 900;
        height: 150px;
        font-size: 10px;
    }

    #sideimg {
        width: 700%;
        max-width: 400px;
        height: auto;
    }

    .hw {
        margin-top: 20px;
        flex-direction: row;

    }

    #instabutton,
    #youbutton,
    #twitterbutton,
    #facebutton,
    #linkidinbutton,
    #githubbutton {
        width: 20px;
        margin-right: 10px;

    }

}
